.side{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    padding:0;
}

.scroll-area{
    width:100%;
    height:calc(100% - 200px);
    margin-top:100px;
    background-color:green;
    float:left;
    overflow-y:scroll;
}